.movie_tile_box {
    padding: 10px;
    border: 1px solid #dedede;
    width: 342px;
    padding: 15px;

    .title {
        text-align: left
    }

    .overview {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; 
        -webkit-box-orient: vertical;
        text-align: left;
    }
}